@model Helpdesk.Api.Models.Solicitacao

@{
    ViewData["Title"] = "Solicitação de Ajuda";
}

<h1 class="text-center">Solicitação de Ajuda</h1>

<p class="text-center">Use o formulário abaixo para criar um pedido de ajuda.</p>

<form asp-action="Create" method="post" class="w-50 mx-auto" id="solicitacao_ajuda">
    <div class="form-group mb-3">
        <label asp-for="Titulo">Assunto:</label>
        <input asp-for="Titulo" class="form-control" required />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Descricao">Descrição:</label>
        <textarea asp-for="Descricao" class="form-control" rows="6" maxlength="500" required></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <input type="hidden" name="UsuarioEmail" value="@Context.Session.GetString("UsuarioEmail")" />

    <div class="form-group text-center">
        <input type="reset" value="Limpar" class="btn btn-secondary me-2" style="background-color: rgb(220, 0, 0);" />
        <input type="submit" value="Enviar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
