@model Helpdesk.Api.Models.Usuario
@{
    ViewData["Title"] = "Cadastro";
}

<h2>Cadastrar Usuário</h2>

<form asp-action="Create" method="post">
    <label>Nome:</label><br />
    <input asp-for="Nome" /><br />
    <span asp-validation-for="Nome" style="color:red"></span><br />

    <label>Email:</label><br />
    <input asp-for="Email" /><br />
    <span asp-validation-for="Email" style="color:red"></span><br />

    <label>Senha:</label><br />
    <input asp-for="Senha" type="password" /><br />
    <span asp-validation-for="Senha" style="color:red"></span><br />

    <label>Confirmar Senha:</label><br />
    <input asp-for="ConfirmarSenha" type="password" /><br />
    <span asp-validation-for="ConfirmarSenha" style="color:red"></span><br /><br />

    <button type="submit">Cadastrar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
