@model Helpdesk.Api.Models.Usuario
<style = Css>
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<form asp-action="Create" method="post">
    <div>
        <label>Nome</label><br>
    </div>
    <div>
        <input asp-for="Nome" />
        <span asp-validation-for="Nome" style="color:red"></span>
    </div>
<br>
    <div>
        <label>Email</label><br>
    </div>
    <div>
        <input asp-for="Email" />
        <span asp-validation-for="Email" style="color:red"></span>
    </div>
<br>
    <div>
        <label>Senha</label><br>
    </div>
    <div>
        <input asp-for="Senha" type="password" />
        <span asp-validation-for="Senha" style="color:red"></span>
    </div>
<br>
<div>
    <button type="submit">Cadastrar</button>
</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}