@model IEnumerable<Helpdesk.Api.Models.Usuario>

<h2>Lista de Usuários</h2>

<table border="1">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>

    @foreach (var usuario in Model)
    {
        <tr>
            <td>@usuario.Nome</td>
            <td>@usuario.Email</td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@usuario.Id" />
                    <button type="submit" onclick="return confirm('Deseja excluir este usuário?')">Excluir</button>
                </form>
            </td>
        </tr>
    }
</table>


<a href="/Usuarios/Create">Cadastrar novo usuário</a>
