@model Helpdesk.Api.Models.Usuario

<style>
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<form asp-action="Login" method="post">
<div>
    <label>Email:</label><br>
</div>
<div>
    <input type="email" name="Email" required />
    <br />
</div>
<br>
<div>
    <label>Senha:</label><br>
</div>
<div>
    <input type="password" name="Senha" required />
    <br />
<br>
</div>
<div>
    <button type="submit">Entrar</button>
</div>
</form>
